* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F2F3D9;
    color: #030027;
    font-family: sans-serif;
    text-align: center;
}

.inner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
    border-radius: 10px;
}

.text-block {
    background-color: #C16E70;
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
    height: 350px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: 280px;
    flex-grow: 0;
    flex-shrink: 1;

}